@import '../mixins';
@import '../variables';

.Main.active {
  visibility: visible;
  display: block;
}

.Main {
  visibility: hidden;
  display: none;
  width: 80%;
  border-top: 1px solid $color-primary;

  @include media(900px) {
    min-width: 100%
  }

  &-ul {
    @include flex(column, center, center);
  }

  &-li {
    @include flex(row, center, space-between);
    min-width: 100%;
    padding: .6rem;
    border-top: .2px solid $border-color-sec;
  }

  &-input {
    position: relative;
    height: 15px;
    width: 15px;
    cursor: pointer;

    &::after {
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 2px solid $border-color-aft;
      background-color: #ffff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

    }

    &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      z-index: 2;
      transition: opacity .3s ease;
    }

    &:checked::before {
      opacity: 1;
    }

  }

  &-input:checked~.Main-label {
    text-decoration: line-through;
    color: $color-gray;
  }

  &-label,
  &-edit {
    display: block;
    text-align: start;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    padding: .5rem 0;

    @include media() {
      font-size: 1em;
    }
  }

  &-label {
    word-wrap: break-word;
    transition: color, text-decoration .3s ease;

    @include media() {
      padding: .5rem .3rem;
    }

  }

  &-edit {
    outline-color: #ef7d3f;
  }

  &-button {
    border-radius: 50%;
    @include flex(row, center, center);
    cursor: pointer;
    background-color: transparent;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &-li:hover>&-button {
    opacity: 1;
  }

  &-svg {
    color: $color-gray;
    width: 1.7rem;
    height: 1.7rem;
    transition: color .3s ease, filter .3s ease, transform .5s ease;
  }

  &-svg:hover {
    color: $color-hover-x;
    filter: drop-shadow(0 0 1px $color-h-shadow);
    transform: rotate(90deg);
  }


}